<!--CHAPTER-CAROUSEL(QUOTE) STARTS-->
<div class="module module--box chapter-carousel " id="quotes-carousel" data-module-id="quotes-carousel" data-module-partial="chapter-carousel" data-module-label="Image 50/50 Carousel">
    <div class="chapter-carousel__frame only-desktop-tablet ng-scope" ng-controller="CarouselController as carousel" ng-init="carousel.init()">
        <div class="chapter-carousel__dots dots dots--tablet-vertical-stack">
            <div class="dots__dot dots__dot--green-light dots__dot--active" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 1" ng-click="carousel.goTo(0, true)" aria-label="Tab 1 of 3" ng-class="{
                'dots__dot--active': carousel.slideIndex == 0}" role="button" tabindex="0">
            </div>
            <div class="dots__dot dots__dot--green-light" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 2" ng-click="carousel.goTo(1, true)" aria-label="Tab 2 of 3" ng-class="{
                'dots__dot--active': carousel.slideIndex == 1}" role="button" tabindex="0">
            </div>
            <div class="dots__dot dots__dot--green-light" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 3" ng-click="carousel.goTo(2, true)" aria-label="Tab 3 of 3" ng-class="{
                'dots__dot--active': carousel.slideIndex == 2}" role="button" tabindex="0">
            </div>
        </div>
        <div class="chapter-carousel__media" carousel="">
            <div class="chapter-carousel__media__slide chapter-carousel__media__slide--active chapter-carousel__media__slide--previous" slide="" ng-class="{
                'chapter-carousel__media__slide--active': carousel.slideIndex == 0,
                'chapter-carousel__media__slide--previous': carousel.previousSlideIndex == 0}" aria-hidden="false" style="min-height: 626.663px;">
                <div class="chapter-carousel__media__image all">
                    <div class="image all loaded" role="img" aria-label="Coffee and notebook on a table at a coffee shop" lazy-image="https://lh3.googleusercontent.com/8p5335szrCguw-halyjPfBokW2EfLiINB4MslBfO8sK-kVtPXZQI1fVMQ1_bxiHd-AF6iu_iBIN_xpH8SJr7LIo5KrDELw=" lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
            </div>
            <div class="chapter-carousel__media__slide" slide="" ng-class="{
                'chapter-carousel__media__slide--active': carousel.slideIndex == 1,
                'chapter-carousel__media__slide--previous': carousel.previousSlideIndex == 1
                }" aria-hidden="true" style="min-height: 626.663px;">
                <div class="chapter-carousel__media__image only-desktop-tablet">
                    <div class="image
                        only-desktop-tablet" role="img" aria-label="Woman with classes working on a laptop in a classroom" 
                        lazy-image="https://lh3.googleusercontent.com/ELCioxUkXuGp_6MtV36TTjP07grNpn3GIqj-G4oisFrbJmw4chVsaA6uVfbfCNIxyazXztuiyBxRlUkxw6sGrumwgCaNUQ=" lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
                <div class="chapter-carousel__media__image only-mobile">
                    <div class="image only-mobile" role="img" aria-label="Woman with classes working on a laptop in a classroom" 
                        lazy-image="https://lh3.googleusercontent.com/dqkOZaT42mzy9lsEOR-InamNCMwGWII3u_9DfOFJkS-MdxD5Va7EHBqecMVSE9VyXWfKLY_aFGqd_d7AiaIUrlc3frzYcx4=" lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
            </div>
            <div class="chapter-carousel__media__slide" slide="" ng-class="{
                'chapter-carousel__media__slide--active': carousel.slideIndex == 2,
                'chapter-carousel__media__slide--previous': carousel.previousSlideIndex == 2
                }" aria-hidden="true" style="min-height: 626.663px;">
                <div class="chapter-carousel__media__image only-desktop-tablet">
                    <div class="image
                        only-desktop-tablet" role="img" aria-label="Man flying a drone at the beach" lazy-image="https://lh3.googleusercontent.com/166w2NMlyV6MzVA_tJjpxx9V66Al7M4r_ko5OLR106oLSAlQtDUZR5KBJBhPZh6mY9pPW_zcpazwaq26KBN4SYQB29TnYA=" lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
                <div class="chapter-carousel__media__image only-mobile">
                    <div class="image
                        only-mobile" role="img" aria-label="Man flying a drone at the beach" lazy-image="https://lh3.googleusercontent.com/Olugdh_eyP8kKnji3uU6RgwO3Js9u2Vzm5tBjhFKxkzEt-rcyzzo8K8GJA98kgYeHD58z8fVWOGUYRRbyhb6dwpIjnz-Dw=" lazy-image-forward-load-scalar="2" lazy-image-as-background="true"
                        lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="chapter-carousel__content">
            <div class="chapter-carousel__chapter chapter-carousel__chapter--active chapter-carousel__chapter--previous" chapter="" ng-class="{
                'chapter-carousel__chapter--active': carousel.slideIndex == 0,
                'chapter-carousel__chapter--previous': carousel.previousSlideIndex == 0
                }" id="chapter-carousel-6-tab-0" aria-hidden="false" style="min-height: 656.8px;">
                <div class="chapter-carousel__chapter__eyebrow" role="heading" aria-level="3">
                    <span class="text"> In my own words </span>
                </div>
                <div class="chapter-carousel__chapter__title" role="heading" aria-level="3">
                    <span class="text"> “What really has clinched it for me, why I chose Athleap, 
                        and why I love it and will continue to do my online courses with Athleap, is the great support that they have.” 
                    </span>
                </div>
                <div class="chapter-carousel__chapter__body">
                    <span class="text"> Julia Stoian : Live. Write. Thrive </span>
                </div>
            </div>
            <div class="chapter-carousel__chapter" chapter="" ng-class="{
                'chapter-carousel__chapter--active': carousel.slideIndex == 1,
                'chapter-carousel__chapter--previous': carousel.previousSlideIndex == 1
                }" id="chapter-carousel-6-tab-1" aria-hidden="true" style="min-height: 656.8px;">
                <div class="chapter-carousel__chapter__eyebrow" role="heading" aria-level="3">
                    <span class="text"> In my own words </span>
                </div>
                <div class="chapter-carousel__chapter__title" role="heading" aria-level="3">
                    <span class="text"> "Ninety-five percent of my income comes from online courses.
                         They are literally the perfect product. They’re scalable, fun to make, and you help a lot of people.
                          I don’t normally get obsessed with tech. But I am obsessed with Athleap." 
                    </span>
                </div>
                <div
                    class="chapter-carousel__chapter__body">
                    <span class="text"> Mariah Coz : Marketing for Course Creators </span>
                </div>
            </div>
        <div class="chapter-carousel__chapter" chapter="" ng-class="{
            'chapter-carousel__chapter--active': carousel.slideIndex == 2,
            'chapter-carousel__chapter--previous': carousel.previousSlideIndex == 2
            }" id="chapter-carousel-6-tab-2" aria-hidden="true" style="min-height: 656.8px;">
            <div class="chapter-carousel__chapter__eyebrow" role="heading" aria-level="3">
                <span class="text"> In my own words </span>
            </div>
            <div class="chapter-carousel__chapter__title" role="heading" aria-level="3">
                <span class="text"> "An online course model has given us a unique kind of flexibility...the 
                    marginal cost per student is quite small, allowing us to scale a lot quicker than if we were doing, say, 
                    in-person training, or some other kind of high-touch industry service." 
                </span>
            </div>
            <div
                class="chapter-carousel__chapter__body"><span class="text"> Alan Perlman : Drone Pilot Ground School </span>
            </div>
        </div>
    </div>
    <div class="chapter-carousel__frame only-mobile ng-scope" ng-controller="CarouselController as carousel" ng-init="carousel.init()">
        <div class="chapter-carousel__dots dots dots--tablet-vertical-stack" aria-hidden="true">
            <div class="dots__dot dots__dot--green-light dots__dot--active" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 1" ng-click="carousel.goTo(0, true)" ng-class="{
                'dots__dot--active': carousel.slideIndex == 0
            }" role="button" tabindex="0">
            </div>
            <div class="dots__dot dots__dot--green-light" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 2" ng-click="carousel.goTo(1, true)" ng-class="{
                'dots__dot--active': carousel.slideIndex == 1
            }" role="button" tabindex="0">
            </div>
            <div class="dots__dot dots__dot--green-light" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 3" ng-click="carousel.goTo(2, true)" ng-class="{
                'dots__dot--active': carousel.slideIndex == 2
            }" role="button" tabindex="0">
            </div>
            <div class="dots__dot dots__dot--green-light" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 4" ng-click="carousel.goTo(3, true)" ng-class="{
                'dots__dot--active': carousel.slideIndex == 3
            }" role="button" tabindex="0">
            </div>
            <div class="dots__dot dots__dot--green-light" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 5" ng-click="carousel.goTo(4, true)" ng-class="{
                'dots__dot--active': carousel.slideIndex == 4
            }" role="button" tabindex="0">
            </div>
            <div class="dots__dot dots__dot--green-light" tracking="" tracking-verb="carousel_dot_click" tracking-label="Slide 6" ng-click="carousel.goTo(5, true)" ng-class="{
                'dots__dot--active': carousel.slideIndex == 5
            }" role="button" tabindex="0">
            </div>
        </div>
        <div class="chapter-carousel__media" carousel="">
            <div class="chapter-carousel__media__slide" slide="" style="min-height: 0px;">
                <div class="chapter-carousel__content">
                    <div class="chapter-carousel__chapter">
                        <div class="chapter-carousel__chapter__eyebrow" role="heading" aria-level="3">
                            <span class="text"> In my own words </span>
                        </div>
                        <div class="chapter-carousel__chapter__title" role="heading" aria-level="3">
                            <span class="text"> “What really has clinched it for me, why I chose Athleap, 
                                and why I love it and will continue to do my online courses with Athleap, is the great support that they have.” 
                            </span>
                        </div>
                        <div class="chapter-carousel__chapter__body">
                            <span class="text"> Julia Stoian : Live. Write. Thrive </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chapter-carousel__media__slide" slide="" style="min-height: 0px;">
                <div class="chapter-carousel__media__image all">
                    <div class="image all" role="img" aria-label="Coffee and notebook on a table at a coffee shop" lazy-image="https://lh3.googleusercontent.com/8p5335szrCguw-halyjPfBokW2EfLiINB4MslBfO8sK-kVtPXZQI1fVMQ1_bxiHd-AF6iu_iBIN_xpH8SJr7LIo5KrDELw=" lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
            </div>
            <div class="chapter-carousel__media__slide" slide="" style="min-height: 0px;">
                <div class="chapter-carousel__content">
                    <div class="chapter-carousel__chapter">
                        <div class="chapter-carousel__chapter__eyebrow" role="heading" aria-level="3">
                            <span class="text"> In my own words </span>
                        </div>
                        <div class="chapter-carousel__chapter__title" role="heading" aria-level="3">
                            <span class="text"> "Ninety-five percent of my income comes from online courses. They are literally the perfect product. 
                                They’re scalable, fun to make, and you help a lot of people. I don’t normally get obsessed with tech. 
                                But I am obsessed with Athleap." 
                            </span>
                        </div>
                        <div
                            class="chapter-carousel__chapter__body">
                            <span class="text"> Mariah Coz : Marketing for Course Creators </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chapter-carousel__media__slide" slide="" style="min-height: 0px;">
                <div class="chapter-carousel__media__image only-desktop-tablet">
                    <div class="image only-desktop-tablet" role="img" aria-label="Woman with classes working on a laptop in a classroom" 
                        lazy-image="https://lh3.googleusercontent.com/ELCioxUkXuGp_6MtV36TTjP07grNpn3GIqj-G4oisFrbJmw4chVsaA6uVfbfCNIxyazXztuiyBxRlUkxw6sGrumwgCaNUQ=" 
                        lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
                <div class="chapter-carousel__media__image only-mobile">
                    <div class="image only-mobile" role="img" aria-label="Woman with classes working on a laptop in a classroom" 
                        lazy-image="https://lh3.googleusercontent.com/dqkOZaT42mzy9lsEOR-InamNCMwGWII3u_9DfOFJkS-MdxD5Va7EHBqecMVSE9VyXWfKLY_aFGqd_d7AiaIUrlc3frzYcx4=" 
                        lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
            </div>
            <div class="chapter-carousel__media__slide" slide="" style="min-height: 0px;">
                <div class="chapter-carousel__content">
                    <div class="chapter-carousel__chapter">
                        <div class="chapter-carousel__chapter__eyebrow" role="heading" aria-level="3">
                            <span class="text"> In my own words </span>
                        </div>
                        <div class="chapter-carousel__chapter__title" role="heading" aria-level="3">
                            <span class="text"> "An online course model has given us a unique kind of flexibility...
                                the marginal cost per student is quite small, allowing us to scale a lot quicker than if we were doing, 
                                say, in-person training, or some other kind of high-touch industry service." 
                            </span>
                        </div>
                        <div
                            class="chapter-carousel__chapter__body"><span class="text"> Alan Perlman : Drone Pilot Ground School </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chapter-carousel__media__slide" slide="" style="min-height: 0px;">
                <div class="chapter-carousel__media__image only-desktop-tablet">
                    <div class="image
                        only-desktop-tablet" role="img" aria-label="Man flying a drone at the beach" 
                        lazy-image="https://lh3.googleusercontent.com/166w2NMlyV6MzVA_tJjpxx9V66Al7M4r_ko5OLR106oLSAlQtDUZR5KBJBhPZh6mY9pPW_zcpazwaq26KBN4SYQB29TnYA=" 
                        lazy-image-forward-load-scalar="2"
                        lazy-image-as-background="true" lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
                <div class="chapter-carousel__media__image only-mobile">
                    <div class="image
                        only-mobile" role="img" aria-label="Man flying a drone at the beach" 
                        lazy-image="https://lh3.googleusercontent.com/Olugdh_eyP8kKnji3uU6RgwO3Js9u2Vzm5tBjhFKxkzEt-rcyzzo8K8GJA98kgYeHD58z8fVWOGUYRRbyhb6dwpIjnz-Dw=" lazy-image-forward-load-scalar="2" lazy-image-as-background="true"
                        lazy-image-google-image-autosize="true" lazy-image-google-image-try-webp="true">
                    </div>
                </div>
            </div>
        </div>
</div>